/* CSS Document */

	
		body {
			margin: 0;
			padding: 0;
			overflow: hidden;
			height: 100%; 
			max-height: 100%; 
			font-family:Sans-serif;
			line-height: 1.5em;
			
		}

		main {
			position: fixed;
			top: 85px; /* Set this to the height of the header */
			bottom: 50px; /* Set this to the height of the footer */
			left: 0; 
			right: 230px; /* Set this to the width of the right column */
			overflow: auto;
			background: #f9f9f3;
			margin-bottom:25px;
			margin-left:25px;
			margin-right:25px;
			margin-top:25px;
			direction:rtl;
		
			
		}
		
			
			#headerright {
          
            width: 160px;
            height:85px;
			background: url("../images/Tbnaalogo.png") no-repeat right;
			float: right;
			
         }

		#headerleft  {
			position: absolute;
			top: 0;
			left: 0; 
			right: 160px;
			height: 85px;
			overflow: hidden; /* Disables scrollbars on the header frame. To enable scrollbars, change "hidden" to "scroll" */
			background: #414141;
          
			 float: left;
		
		}
	

		#footer {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 50px; 
			overflow: hidden; /* Disables scrollbars on the footer frame. To enable scrollbars, change "hidden" to "scroll" */
			background: #414141;
			color:#fff;
		}
				
		#nav {
			position: absolute; 
			top: 85px; /* Set this to the height of the header */
			bottom: 50px; /* Set this to the height of the footer */
			right: 0; 
			width: 230px;
			overflow: auto; /* Scrollbars will appear on this frame only when there's enough content to require scrolling. To disable scrollbars, change to "hidden", or use "scroll" to enable permanent scrollbars */
			background: #bee6e6;
            float: right;	
		}
		#nav li {
        display: inline;
        }
        
#nav a {
        display: block;
        height: 23px;
        padding: 9px 0 0 10px;
        font-size: 18px;
		text-align:right;
        text-decoration: none;
        color: #76c7ca;
        }
        
#nav a:hover {
        background: #d1efef;
		color:76c7ca;
        }
		
	#nav	a:active{
 background: #76c7ca;
 color:#d1efef;  
}
        
		
		
		.innertube {
			margin: 15px; /* Provides padding for the content */
		}
		
		p {
			color: #555;
			direction:rtl;
		}

		nav ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		
		nav ul a {
			color: darkgreen;
			text-decoration: none;
		}
				
		/*IE6 fix*/
		* html body{
			padding: 85px 0 50px 230px; /* Set the first value to the height of the header, the third value to the height of the footer, and last value to the width of the nav */
		}
		
		* html main{ 
			height: 100%; 
			width: 100%; 
		}
		
	.headerbar{

  width: 100%;
  height: 55px;
  float: left;
  background-color: #F3F5F5;
  top:65px;
  position: absolute;
}

.headerline{

  width: 100%;
  height: 3px;
  float: left;
  background-color: #585858;
  position: absolute;
  top:55px;

}

#btncat {
  padding-left: 24px;
  width: 150px;
  height: 55px;
  float: left;
  position: relative;
}


		  header, #nav_top {
		  display: block;
		}
		
		fieldset
		{
		  margin: 0;
		  padding: 0;
		  border: 0;
		}
		
		input:focus,textarea:focus {
		  outline: none;
		}
		
		header{
		  background-color: #414141;
		}
		
		.cf:before,
		.cf:after {
		  content:"";
		  display:table;
		}
		
		.cf:after {
		  clear:both;
		}
		
		.cf {
		  zoom:1;
		}

#nav_top a{
	color:#c9c9c9;	
}

#nav_top a:hover{
	color:#76C7CA;
}	

#nav_top a:active{
	color:#C8C8C8;
	text-decoration: none;	
}


		#nav_top ul {
		  margin: 0;
		  padding: 0;
		  list-style: none;
		  position: relative;
		  float: left;
		  padding-top:50px;*  
		}
		
		#nav_top li {
		  float: left;
		  padding-left:30px;
	      font-size:18px;          
		}

		#nav_top #search-content {
		  display: none;
		  position: absolute;
		  top:85px;
		  right: -100px;
		  z-index: 999;    
		  background: #414141; 
		  padding: 15px;
		  -moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
		  -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
		  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
		  -moz-border-radius: 3px 0 3px 3px;
		  -webkit-border-radius: 3px 0 3px 3px;
		  border-radius: 3px 0 3px 3px;
		  direction:rtl;
		}
		
		#nav_top li #search-content {
		  right: -100px;
		  width: 450px;  
		}
		
		#inputs input {
		  background: #f1f1f1;
		  /*padding: 6px 5px;
		  margin: 0 0 5px 0;*/
		  /*width: 238px;*/
		  border: 1px solid #ccc;
		  -moz-border-radius: 3px;
		  -webkit-border-radius: 3px;
		  border-radius: 3px;
		  -moz-box-shadow: 0 1px 1px #ccc inset;
		  -webkit-box-shadow: 0 1px 1px #ccc inset;
		  box-shadow: 0 1px 1px #ccc inset;
		}
		
		#inputs input:focus {
		  background-color: #fff;
		  border-color: #e8c291;
		  outline: none;
		  -moz-box-shadow: 0 0 0 1px #e8c291 inset;
		  -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
		  box-shadow: 0 0 0 1px #e8c291 inset;
		}
		
		#search #submit {		
		  background-color: #bee6e6;
		  -moz-border-radius: 3px;
		  -webkit-border-radius: 3px;
		  border-radius: 3px;
		  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
		  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
		  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
		  border: 1px solid #7e1515;
		  margin-left:35%;
		  height: 30px;
		  padding: 0;
		  width: 100px;
		  cursor: pointer;
		  font-size: 18px;
		  color: #76c7ca;		  
		}
		
		#search #submit:hover,
		#search #submit:focus {		
		  background-color: #76c7ca;
		  color: #fff;
		}	
		
		#search #submit:active {		
		  outline: none;
		  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
		  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
		  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
		}
		
		#search #submit::-moz-focus-inner {
		  border: none;
		}
		
		#search label {
		  float: right;
		  line-height: 30px;
		}
		
		#search label input {
		  position: relative;
		  top: 2px;
		  right: 2px;
		}

#boxtext{
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 10px auto;
  width: 96%;
  height: 30px;
  background-color: #F2F2F2;
}

#halfboxR{ 
  float: right;
  width: 50%;
  height: 100%;
  background-color: #F2F2F2;
}

#halfboxL{
  float: left;
  width: 50%;
  height: 100%;
  background-color: #F2F2F2;
}

#longbar {
  float: right;
  width: 100%;
  height: 100%;
  background-color: #F2F2F2;
}

#webtext{ 
  float: right;
  width: 35%;
  height: 100%;
  text-indent:3px;
  background-color: #414141;
  line-height:32px;
  color: white;
  text-align:center;
}

#webtextlong {
  float: right;
  width: 18%;
  height: 100%;
  background-color: #414141;
  line-height:32px;
  color: white;
  text-align:center;
}

#cattext{
  float: left;
  width: 65%;
  height: 100%;
  background-color: white;
  line-height:32px;
  color: #76C7CA;
}

select.kinds{
  color: #76C7CA;
  border: 0px;
  height: 28px;
  width: 140px;
  margin:0px;
}

#cattextlong {
  float: left;
  width: 82%;
  height: 100%;
  text-indent:3px;
  background-color: white;
  line-height:32px;
  color: #76C7CA;
  text-align: right;
}

input[type="radio"],label,select{
  cursor: pointer;
}

input.name{
  width: 100%;
  padding-top:10px;
  text-align:right;
}

select.old{
  color: #76C7CA;
  border: 0px;
  height: 28px;
  width: 50px;
}

select.place{
  color: #76C7CA;
  border: 0px;
  height: 28px;
  width: 65%;
}